/*
 * File Version: 1.0
 * 2013-02-17	Created
 * Email:dannylsl@sina.com
 */
html{
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	padding:0px;
	text-align:center;
}
table tr{
	background-color:#FFFFFF;	
}
table tr td{
	padding:2px 5px 2px 5px;
}

table tr:hover{  /* to be continued */
	background-color:#98ABFF;
	cursor:hand;
}
table .thd{
	background-color:#0091E8;
	color:#ffffff;

}

a {
	text-decoration:none;
}

.button {
	?width: 120px;
	min-width: 120px;
	color: #567;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin-top:10px;
	padding: 6px;
	border: solid 1px #abc;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f5fc), color-stop(1, #e0e9f4));
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0, #fff), color-stop(0.4, hsl(0, 0%, 96%)), color-stop(0.41, hsl(0, 0%, 92%)));
	-webkit-box-shadow: 0px 1px 2px #ddd;
}

.button.bold {
	font-weight: bold;
}

.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6fafe), color-stop(1, #e3ebf7));
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0, #fff),  color-stop(0.4, hsl(215, 67%, 96%)), color-stop(0.41, hsl(213, 48%, 92%)));
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e9f4), color-stop(1, #f5f9f4));
}

.button img {
	vertical-align: text-bottom;;
}

.delete{
	background:url("image/delete.png") center no-repeat;
	cursor:pointer;
	width:100%;
	height:20px;

}

#msg{
	color : #fff;
	width :100%;
	background-color : #55c400;/*#D4FFA8;*/
	border-width : 0px;
	font-family : monospace;
	font-size : 16pt;
	border-color : #55C400;
	border-style : solid;
	padding : 2px;
	margin-right:auto;
	margin-left:auto;
	position:fixed;
	z-index:10;
}

.item{
	display:block;
	width:100%;
	height:100%;
}

#furl{
	border:solid 1px #ccc;
	padding:8px;
	background:#fff;
	width:80%;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	font-weight:bold;
	color:#666;
}
#furl:focus{
	border:solid 1px #ebc77e;
	padding:8px;
	background: #f8f3c7;
	-webkit-transition:background .2s ease-in;
	-moz-transition:background .2s ease-in;
	-o-transition:background .2s ease-in;
	transition:background .2s ease-in;
}
